POSTGRES_POST=
POSTGRES_USER=
DATABASE_TYPE=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=lumi

TOKEN_SECRET=903219310923

ADMIN_PASSWORD=legume
ADMIN_EMAIL=nathan3boss@gmail.com

NODE_ENV=development
APP_API_PORT=9292
APP_SERVICE_PORT=9393

APP_API_URL=http://localhost:9292
APP_SERVICE_URL=http://localhost:9393/api
APP_WEB_URL=http://localhost:3000
