version: '3'

services:
  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    ports:
      - 3000:3000
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    restart: always
    ports:
      - 9292:9292
    env_file:
      - ./.env.prod
    depends_on:
      - postgres
  service:
    build:
      context: .
      dockerfile: ./apps/service/Dockerfile
    restart: always
    ports:
      - 9393:9393
    env_file:
      - ./.env.prod
  postgres:
    image: postgres:latest
    ports:
      - 5432:5432
    env_file:
      - ./.env.prod
